.instructions {
  box-sizing: border-box;
  background: hsl(67 50% 86%/ 75%);
  padding: 5px 10px;
  max-height: 80px;
  width: calc(100vw - 100px);
  overflow-y: scroll;
  display: block;
}

.instructions > p {
  margin: 0 auto;
}

section#about {
  width: calc(100vw - 100px);
}
