body {
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction:column;
  background: hsl(52 94% 94%/ 50%);
  font-family: 'Courier New', courier, monospace;
}

a {
  color: hsl(343.2 37.3% 48.8%);
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  color: hsl(330 20.3% 27.1%);
  border-bottom: 2px dashed hsl(330 20.3% 27.1%);
}

button {
  align-self: center;
  background: hsl(74 32% 76% / 75%);
  padding: 5px;
  border: 1px solid #000;
  cursor: pointer;
  font-size: 0.95em;
  font-family: Arial, Helvetica, sans-serif;
}

button:hover {
  background: hsl(74 32% 76% / 95%);
}

input[type="file"] {
  display: none;
}

label.inputFile {
  align-self: center;
  background: hsl(74 32% 76% / 75%);
  padding: 5px;
  border: 1px solid #000;
  cursor: pointer;
  font-size: .95em;
  font-family: Arial, Helvetica, sans-serif;
}

label.inputFile.disabled {
  opacity: 0.5;
  cursor: default;
}

div#buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

div#content {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

section#main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

section {
  flex-wrap: wrap;
}

#loading {
  position: absolute;
  left: calc(50% - 10px);
  top: calc(50% - 10px);
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: hsl(74  32% 76%/ 70%);
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: pulse;
}

@keyframes pulse {
  from {
    transform: scale(1.5);
  }
  75% {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.hidden {
  display: none;
}
